<main-toolbar>

    <md-button ng-click="goBack()" class="md-icon-button">
        <md-icon aria-label="arrow back" class="material-icons">arrow_back</md-icon>
        <md-tooltip md-direction="bottom">Go back</md-tooltip>
    </md-button>
    <h1 flex style="text-align: center" >Cliente - > {{ (cliente.id) ? cliente.nombre + " " + cliente.apellido : "Nuevo" }}</h1>

<!--    <md-button ng-click="imprimirReporte()" class="md-raised md-primary">Imprimir Reporte</md-button>-->
    <md-button ng-disabled="!allowedToSave" ng-click="updateCliente()" class="md-raised md-primary">Guardar Cambios</md-button>
</main-toolbar>

<md-progress-linear ng-if="loading" md-mode="indeterminate"></md-progress-linear>

<md-card flex>

    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Datos del Cliente</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <ng-form novalidate flex>

            <section class="md-padding">

                <div layout="column" layout-gt-sm="row" flex-gt-sm>

                    <md-input-container flex>
                        <label>Nombre</label>
                        <input ng-model="cliente.nombre">
                    </md-input-container>

                    <md-input-container flex>
                        <label>Apellido</label>
                        <input ng-model="cliente.apellido">
                    </md-input-container>

                </div>

                <div layout="column" layout-gt-sm="row" flex-gt-sm>

                    <md-input-container flex>
                        <label>DNI o Pasaporte</label>
                        <input ng-model="cliente.dni">
                    </md-input-container>

                    <md-input-container flex>
                        <label>Email</label>
                        <input ng-model="cliente.email">
                    </md-input-container>

                </div>

                <div layout="column" layout-gt-sm="row" flex-gt-sm>

                    <md-input-container flex>
                        <label>Direccion</label>
                        <input ng-model="cliente.direccion">
                    </md-input-container>

                    <md-input-container flex>
                        <label>Codigo Postal</label>
                        <input ng-model="cliente.codigoPostal">
                    </md-input-container>

                </div>

                <div layout="column" layout-gt-sm="row" flex="50">

                    <md-input-container flex>
                        <label>Obra Social</label>
                        <md-select id="obraSocial"
                                   ng-model="cliente.obraSocial"
                                   placeholder="Obra Social" flex>
                            <md-option ng-repeat="o in obrasSociales track by o.key" ng-value="o.key">
                                {{o.value}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                </div>

            </section>
        </ng-form>
    </md-card-content>

</md-card>
