<main-toolbar>
    <md-button ng-click="goBack()" class="md-icon-button">
        <md-icon aria-label="arrow back" class="material-icons">arrow_back</md-icon>
        <md-tooltip md-direction="bottom">Go back</md-tooltip>
    </md-button>
    <h1 flex style="text-align: center" >Pacientes</h1>
</main-toolbar>
<md-content style="background-color: whitesmoke">

    <md-card>
        <md-card-content>

            <div layout="row" flex>

                <div class="table-filter" flex>

                    <div class="list-search" layout="row">
                        <div class="list-search-icon-container">
                            <md-icon aria-label="Close" class="material-icons list-search-icon">search</md-icon>
                        </div>
                        <div class="list-search-input-container" flex>
                            <input type="text" class="list-search-input" placeholder="Search" ng-disabled="disabled"
                                   ng-model="query" ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
                        </div>
                        <div class="list-close-icon-container" ng-if="showClearButton">
                            <md-button ng-click="clearSearchText()">
                                <md-icon list-close-icon aria-label="Close" class="material-icons list-search-icon">close</md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>

            </div>

            <section class="fade-in-out">
                <md-table-container>
                    <table md-table class="iic-data-table">
                        <thead md-head md-order="query.order">
                        <tr md-row>
                            <th md-column md-order-by="dni">DNI</th>
                            <th md-column md-order-by="nombre">Nombre</th>
                            <th md-column md-order-by="apellido">Apellido</th>
                            <th md-column >Obra Social</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-click="goTo(paciente.id)"
                            ng-repeat="paciente in pacientes | filter: search | orderBy: query.order"
                            class="animate-list-item clickable">

                            <td md-cell md-highlight-text="query" md-highlight-flags="i">
                                {{ :: paciente.datosCliente.dni}}
                            </td>
                            <td md-cell md-highlight-text="query" md-highlight-flags="i">
                                {{ :: paciente.datosCliente.nombre}}
                            </td>
                            <td md-cell md-highlight-text="query" md-highlight-flags="i">
                                {{ :: paciente.datosCliente.apellido}}
                            </td>
                            <td md-cell>
                                {{ :: paciente.datosCliente.obraSocial}}
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </section>


        </md-card-content>

    </md-card>
</md-content>

