<!DOCTYPE html>
<html>

<head>
    <title>Network Automation</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel='stylesheet' href='bower_components/angular-material-time-picker/dist/md-time-picker.css'>
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="networkautomation" ng-cloak ng-controller="AppCtrl">

    <div layout="row" layout-fill flex>

        <md-sidenav fullscreen md-is-locked-open="$mdSidenav('left').isOpen() &amp;&amp; $mdMedia('gt-md')" layout="column" class="md-sidenav-left md-whiteframe-z3" md-component-id="left"
                    md-whiteframe="4">

            <md-toolbar layout-align="start center" style="background-color: #0f2bb0" layout="row" class="md-theme-indigo" class="md-tall md-hue-2">
                <md-button ng-disabled="true" xng-click="closeSidebar('left')" class="md-icon-button">
                    <md-icon aria-label="Close" class="material-icons">flash_on</md-icon>
                </md-button>

                <h1 flex class="md-toolbar-tools">Network Automation</h1>
                <md-button ng-click="closeSidebar('left')" class="md-icon-button">
                    <md-icon aria-label="Close" class="material-icons">close</md-icon>
                    <md-tooltip md-direction="bottom">Close Nav Bar</md-tooltip>
                </md-button>

            </md-toolbar>

            <md-list>

                <md-list-item ng-class="{ 'main-sidenav-item-selected': isInState('dispositivos.list')}" ng-click="goTo('dispositivos.list')"
                              class="secondary-button-padding">
                    <md-icon aria-label="administrador" class="material-icons">storage</md-icon>
                    <span flex style="padding-top: 7px;">Dispositivos</span>
                </md-list-item>

                <md-list-item ng-class="{ 'main-sidenav-item-selected': isInState('auditoria.list')}" ng-click="goTo('auditoria.list')"
                              class="secondary-button-padding">
                    <md-icon aria-label="administrador" class="material-icons">supervised_user_circle</md-icon>
                    <span flex style="padding-top: 7px;">Auditoria</span>
                </md-list-item>

                <md-list-item ng-class="{ 'main-sidenav-item-selected': isInState('respaldos.list')}" ng-click="goTo('respaldos.list')"
                              class="secondary-button-padding">
                    <md-icon aria-label="administrador" class="material-icons">insert_drive_file</md-icon>
                    <span flex style="padding-top: 7px;">Respaldos</span>
                </md-list-item>

                <md-list-item ng-class="{ 'main-sidenav-item-selected': isInState('redesprivadas.list')}" ng-click="goTo('redesprivadas.list')"
                              class="secondary-button-padding">
                    <md-icon aria-label="administrador" class="material-icons">lock</md-icon>
                    <span flex style="padding-top: 7px;">Redes Privadas</span>
                </md-list-item>

                <md-list-item ng-class="{ 'main-sidenav-item-selected': isInState('usuarios.list')}" ng-click="goTo('usuarios.list')"
                              class="secondary-button-padding">
                    <md-icon aria-label="administrador" class="material-icons">person</md-icon>
                    <span flex style="padding-top: 7px;">Usuarios</span>
                </md-list-item>


            </md-list>

        </md-sidenav>

        <md-content flex>
            <div ui-view></div>
        </md-content>

    </div>

    <!-- inject:js -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/md-pickers/src/mdPickers.js"></script>
    <script src="bower_components/angular-material-time-picker/dist/md-time-picker.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="utils/pie-chart.min.js"></script>


    <script src="js/config/app.js"></script>
    <script src="js/controllers/clientes.js"></script>
    <script src="js/controllers/keyvalue.js"></script>
    <script src="js/controllers/pacientes.js"></script>
    <script src="js/controllers/auditoria.js"></script>
    <script src="js/controllers/respaldos.js"></script>
    <script src="js/controllers/redesprivadas.js"></script>
    <script src="js/controllers/home-controller.js"></script>
    <script src="js/controllers/turnos.js"></script>
    <script src="js/controllers/dispositivos.js"></script>
    <script src="js/controllers/usuarios.js"></script>
    <script src="js/controllers/login-controller.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

</body>

</html>
