<main-toolbar>
    <h1 flex style="text-align: center">Eye Tracking</h1>
</main-toolbar>

<md-content layout-gt-sm="row" layout-sm="column" style="background-color: whitesmoke">

    <h1 style="text-align: center">{{errorMessage}}</h1>

<!--    <md-card flex>

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Business Functions</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>

            <div layout="row" flex>
                <pie-chart data="dataFromBusinessFunctions" options="options"></pie-chart>
            </div>

        </md-card-content>
    </md-card>

    <md-card flex>

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Components</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>

            <div layout="row" flex>
                <pie-chart data="dataFromComponents" options="options"></pie-chart>
            </div>

        </md-card-content>
    </md-card>-->
</md-content>

