<main-toolbar>

    <md-button ng-click="goBack()" class="md-icon-button">
        <md-icon aria-label="arrow back" class="material-icons">arrow_back</md-icon>
        <md-tooltip md-direction="bottom">Go back</md-tooltip>
    </md-button>
    <h1 flex style="text-align: center" >redesprivadas-> {{ (redesprivadas.tagVlan) ? redesprivadas.nombreVlan : "Modificar" }}</h1>
    <!--<md-button ng-click="connectToDevices()" class="md-raised md-primary">Conectar a dispositivos</md-button>--->
    <md-button ng-disabled="!allowedToSave" ng-click="updateRedesprivada()" class="md-raised md-primary">Guardar Cambios</md-button>
</main-toolbar>

<md-progress-linear ng-if="loading" md-mode="indeterminate"></md-progress-linear>

<md-card flex>

    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Datos de la Red Privada</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <ng-form novalidate flex>
            <md-button class="md-fab md-fab-bottom-right md-primary" style="background-color: deepskyblue"
                       ng-click="connectToDevices()" aria-label="Crear Estudio">
                <md-icon class="material-icons">settings_ethernet</md-icon>
                <md-tooltip md-direction="left">Conectar Red a Dispositivos</md-tooltip>
            </md-button>

            <section class="md-padding">

                <div layout="row" layout-gt-sm="row" flex-gt-sm>

                    <md-input-container flex>
                        <label>Nombre Vlan</label>
                        <input required="true" ng-model="redprivada.nombreVlan" maxlength="100" md-maxlength="100">
                    </md-input-container>

                    <md-input-container flex>
                        <label>TAG</label>
                        <input required="true" maxlength="15" md-maxlength="15" ng-model="redprivada.tagVlan">
                    </md-input-container>

                    <md-input-container flex>
                        <label>IP Address</label>
                        <input maxlength="100" md-maxlength="100" ng-model="redprivada.ipAddress">
                    </md-input-container>

                </div>

                <div layout="row" layout-gt-sm="row" flex-gt-sm>

                    <md-input-container flex>
                        <label>Submask</label>
                        <input maxlength="100" md-maxlength="100" ng-model="redprivada.submask">
                    </md-input-container>

                    <md-input-container flex>
                        <label>IP Helper</label>
                        <input maxlength="100" md-maxlength="100" ng-model="redprivada.ipHelper">
                    </md-input-container>
                </div>


            </section>
        </ng-form>
    </md-card-content>

</md-card>
